/*
colorblind safe color palette from colorbrewer2/org. Used Hue
#e0ecf4 - Light Blue
#9ebcda - Blue
#8856a7 - Purple
*/

body {
  background-color: #e0ecf4
  color: #9ebcda
  text-align: center;
}
h1 {
  color: #8856a7
}
